/* Stylizacja podstawowa */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

nav{
  background-color: grey;
  padding: 2%;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  margin: 0 15px;
  text-decoration: none;
  color: #6d0b0b;
}


.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn:hover{
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}




/* hero*/
.hero-section {
  padding: 50px;
  text-align: center;
  background-color: #f8f9fa;
}

.doctor-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}




/* acibit*/
.activity-section {
  padding: 50px;
  text-align: center;
}

.activity-cards-handler{
  display: flex;
  gap: 76px;
}

.activity-cards {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.card {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon{
  width: 100%;
}




/* mdeicine */
.medicine-section{
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}


.medicine-img{
  width: 40%;
  height: 40%;
}




/* specialzacja doktroow*/
.specialization-section {
  padding: 50px;
  background-color: #f8f9fa;
}

.doctor-cards-handler{
  display: flex;
  gap: 76px;
}


.doctor-cards {
  display: flex;
  justify-content: space-around;
  width: 30%;
}




/* pricing*/
.pricing-section {
  padding: 50px;
}

.pricing-cards-handler{
  width: 100%;
  display: flex;
  gap: 5%;
}

.pricing-cards {
  display: flex;
  justify-content: space-around;
  width: 33%;
}

.price {
  font-size: 24px;
  font-weight: bold;
}




/* testimotianals*/
.testimonials-section {
  padding: 50px;
}

.testimonial-cards {
  display: flex;
  justify-content: space-around;
}

.testimonial-img {
  width: 80%;
}





.newsletter-section {
  padding: 50px;
  text-align: center;
}

.newsletter-form input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}


.footer {
  padding: 20px;
  text-align: center;
  background-color: #343a40;
  color: white;
}

.social-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
