
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  
}

h1, h2, h3, h4, h5, h6{
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

button {
  cursor: pointer;
}

.blue{
  color: #007bff;
}

/* HEADER */
.naglowek {
  background-color: #e3f2fd;
  padding: 20px;
}

.naglowek-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.naglowek-container nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.naglowek-container nav ul li {
  margin-right: 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.login-btn, .join-btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  
}

.login-btn:hover, .join-btn:hover {
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff
}


.join-btn {
  background-color: #ff4081;
}

/* MAIb*/
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #ffffff;
}

.text-content h1 {
  font-size: 36px;
}

.text-content p {
  font-size: 18px;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
}

.get-btn, .learn-btn {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  background-color: #007bff;
  color: white;
}

.get-btn:hover, .learn-btn:hover {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff
}


.image-placeholder {
  width: 300px;
  height: 300px;
  background-color: #e0e0e0;
  text-align: center;
  line-height: 300px;
}

.image-placeholder img{
  object-fit: cover;
  
}

/*
.icon-placeholder {
  width: 100px;
  height: 100px;
  background-color: #e0e0e0;
  text-align: center;
  line-height: 300px;
}
*/

/* SEKCJA ACTIVITY */
.activity {
  padding: 40px;
  background-color: #f0f0f0;
  text-align: left;
  
}

.activity-karty {
  display: flex;
  gap: 20px;
}

.karty {
  flex: 1;
  padding: 20px;
  background-color: white;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.karty h3 {
  font-size: 22px;
}

.karty p {
  font-size: 16px;
  margin-top: 10px;
}

/* SEKCJA MEDYCYNA */
.medicine {
  padding: 40px;
  background-color: salmon;
}

.medicine-content {
  display: flex;
  justify-content: space-between;
}

.medicine-text {
  width: 60%;
}

.medicine-placeholder {
  width: 200px;
  height: 200px;
  background-color: #ffccbc;
  text-align: center;
  line-height: 200px;
}

/* SEKCA DOCTORS */
.doctors {
  padding: 40px;
}

.doctors-karty {
  display: flex;
  gap: 20px;
}

.doctor-karty {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.doctor-karty h3 {
  font-size: 20px;
}

.doctor-karty p {
  font-size: 16px;
  margin-top: 10px;
}

/* PRICING $$$ */
.pricing {
  padding: 40px;
  background-color: #f8f8f8;
}

.pricing-karty {
  display: flex;
  gap: 20px;
}

.price-karty {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.price-karty h3 {
  font-size: 22px;
}

.price-karty p {
  font-size: 16px;
  margin-top: 10px;
}

/* TESTIMONIALS */
.testimonials {
  padding: 40px;
  background-color: #e3f2fd;
}

.testimonials-karty {
  display: flex;
  gap: 20px;
}

.testimonial-karty {
  flex: 1;
  padding: 20px;
  background-color: white;
  text-align: center;
  border-radius: 8px;
}

.testimonial-karty p {
  margin-top: 10px;
}

/* FOOTER */
footer {
  background-color: #e0e0e0;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.footer-main {
  display: flex;
  gap: 10px;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subskrypcja {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.footer-linki {
  display: flex;
  gap: 20px;
}

.footer-contact {
  font-size: 16px;
}
